<p>//Homepage</p>

{{#each posts as |post|}}
<div>
    <p>{{post.post_title}}</p>
    <P>{{post.post_body}}</P>
    <p>Posted by: {{post.user.user_name}}</p>
    <h6>Comments:</h6>
    {{#each post.comments as |comment|}}
    <p>{{comment.comment_body}}</p>
    {{/each}}
    <p><a href="/api/posts/comment/{{post.id}}">Click here to view</a></p>
</div>
<br>
{{/each}}